body{
  margin: 0;
  background-color:hsla(344, 17%, 74%, 0.384);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  text-align:center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight:bolder;
}

ul{
  display: flex;
  justify-content: space-between;
}

li{
  list-style: none;
}

h1{
  margin: 0;
  padding:0;
  margin-bottom: .5rem;
}

h3{
margin:.5rem 0 .5rem 0;
}

img{
  max-width:100%;
  max-height:100%;
  object-fit: cover;
}

p{
  margin:0;
  padding: 0;
}


/* spread-stuff */
.spread{
  background-color: #fffaf389;
  display: grid;
  justify-self:center;
  max-width: 90%;
  grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
  border: solid rgb(54, 160, 42);
  border-radius: 1rem;
  padding: 2rem;
  font-weight: 800;
  font-variant:small-caps;
  }

/* .spread-ten{
  background-color: #fffaf389;
  display: flex;
  justify-content: space-between;
  font-family: inherit;
  font-weight: bold;
  border: 1px solid grey;
  border-radius: 1rem;
  padding: 2rem;
  max-width: 1600px;
} */


@media (max-width: 400px) {
  .spread {
    flex-basis: 100%;
    flex-wrap: wrap;
  }
}

.navbar{
  display: flex;
  justify-content: space-between;
  font-size: small;
  width:90vw;
}

.card-object{
  display: grid;
  justify-content: center;
  align-content:space-between;
  border-radius: 1rem;
  padding: 1rem;
  margin: .5rem;
}

.card{
  background-image: url('./images/z-back.jpg');
  background-size: 110%;
  background-position: center;
  height:250px;
  width:150px;
  border: solid black;
  padding: .5rem;
  border-radius: 1rem;
}

.cardDescription{
  margin-top: 2rem;
}

.meanings{
  display: flex;
  font-weight: 300;
  font-size: .75rem;
  justify-content: center;
  justify-content: space-evenly;
}
.meaning{
  display: flex;
  width: 33%;
  flex-direction: column;
  padding: 0 1rem;
  margin: 0rem 1rem;
  
}

.reading-container{
  display: grid;
  justify-content: center;
  grid-template-rows: min-content;  
}

select{
  border-radius: 1rem;
  margin: .75rem;
  padding: 0 4rem;
  background-color: hsla(160, 19%, 88%, .9);
  text-align: center;
}

input{
  margin: .75rem;
  border-radius: 2rem;
  background-color: hsla(158, 18%, 88%, 0.9);
}

.archive-item{
display: inline-grid;
grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
border: solid rgb(255, 88, 255);
border-radius: 1rem 1rem 0 0;
grid-template-rows: 5;
padding: 1rem;
font-weight: 900;
font-variant:small-caps;
}
